
/* h2{color: red; text-align: center;}
p{background: green; font-size: 40px;} */


#a{background: red;}
.b{background: blue;}
.c{background: purple; color: white;}
.data{color: orange;}
#txt{font-size: 40px; color: blue;}
#demo{border: dotted;}