*{margin: 0px; padding: 0px; box-sizing: border-box;}
.container{height: auto; width: 100%;}
.header{text-align: center;
padding: 40px; font-size: 44px; background: lightblue; transition: all 3s;}

.center::after{
    content: ""; clear: both; display: table;
}

.left{padding: 20px; border: solid; float: left;}



.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}


@media only screen and (max-width:1200px){
  .left{width: 25%;}
  #mydiv{font-size: 40px; text-align: center;}
}
@media only screen and (max-width:992px){
    .header{font-size: 28px;}
    .left{width: 50%;}
    #mydiv{display: none;}
}
@media only screen and (max-width:768px){
    .header{font-size: 18px;}
    .left{width: 100%;}
    #mydiv{display: block;}
}