*{margin: 0px; padding: 0px; box-sizing: border-box;}
.main{height: auto; width: 100%;}
.header{height: auto; width: 100%; background: lightblue; text-align: center;
padding: 30px; font-size: 4vw;}
.menu{height: auto; width: 100%; background: wheat; padding: 15px 0px;}
.menu a{text-decoration: none; padding: 15px 30px;}
.center{height: auto; width: 100%;}
.left{height: 100px; width: 16.66%; float: left; border: solid;}
.aboutdata{text-align: justify; padding: 30px;}




@media only screen and (max-width:1200px){
    .left{width: 25%;}
}
@media only screen and (max-width:992px){
    .left{width: 50%; font-size: 40px;}
}


@media only screen and (max-width:768px){
    .menu a{display: block; text-align: center;}
    .left{width: 100%;}
    #mydiv{display: none;}
}